@model JobDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Bent u zeker dat u @Model.Omschrijving wilt verwijderen?</h3>

<form asp-action="Delete">
    <input type="hidden" asp-for="@Model.Id" />
    <input type="submit" class="btn btn-primary" value="Verwijder" />
    <a asp-action="Index" class="btn btn-primary">Index</a>
</form>

